.categorias{
    background-color: cornflowerblue;
    margin: auto;
    justify-self: center;
    align-items: center;
}

.titulo{
    color: #000;
    text-align: center;
}

.container{
    justify-content: center;
    align-items: center;
}



